.home {
  min-height: 100vh;
}

.home__section {
  padding: 4rem 2rem;
  text-align: center;
}

.home__section_mission {
  background-color: #fff;
}

.home__container {
  max-width: 1200px;
  margin: 0 auto;
}

.home__title {
  font-family: "Domitian", serif;
  color: #214751;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.home__text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #1b444e;
  max-width: 800px;
  margin: 0 auto;
}
